In [19]:
import pandas as pd

#  https://www.kaggle.com/datasets/rmisra/news-category-dataset/data
# Load the JSON file
df = pd.read_json('data/News_Category_Dataset_v3.json', lines=True)

# Display the first few rows
print(df.head())

                                                link  \
0  https://www.huffpost.com/entry/covid-boosters-...
1  https://www.huffpost.com/entry/american-airlin...
2  https://www.huffpost.com/entry/funniest-tweets...
3  https://www.huffpost.com/entry/funniest-parent...
4  https://www.huffpost.com/entry/amy-cooper-lose...

                                            headline   category  \
0  Over 4 Million Americans Roll Up Sleeves For O...  U.S. NEWS
1  American Airlines Flyer Charged, Banned For Li...  U.S. NEWS
2  23 Of The Funniest Tweets About Cats And Dogs ...     COMEDY
3  The Funniest Tweets From Parents This Week (Se...  PARENTING
4  Woman Who Called Cops On Black Bird-Watcher Lo...  U.S. NEWS

                                   short_description               authors  \
0  Health experts said it is too early to predict...  Carla K. Johnson, AP
1  He was subdued by passengers and crew when he ...        Mary Papenfuss
2  "Until you have a dog you don't understand wha...         Elyse Wanshel
3  "Accidentally put grown-up toothpaste on my to...      Caroline Bologna
4  Amy Cooper accused investment firm Franklin Te...        Nina Golgowski

        date
0 2022-09-23
1 2022-09-23
2 2022-09-23
3 2022-09-23
4 2022-09-22

In [20]:
print(df.columns.tolist())

['link', 'headline', 'category', 'short_description', 'authors', 'date']

In [21]:
df.isnull().sum()

link                 0
headline             0
category             0
short_description    0
authors              0
date                 0
dtype: int64

In [22]:
empty_count = (df['short_description'].str.strip() == '').sum()
print("Empty content count:", empty_count)

Empty content count: 19712

In [23]:
df = df[df['short_description'].str.strip() != '']
df = df[df['headline'].str.strip() != '']

In [24]:
unique_categories = df['category'].unique()
print(unique_categories)

['U.S. NEWS' 'COMEDY' 'PARENTING' 'WORLD NEWS' 'CULTURE & ARTS' 'TECH'
 'SPORTS' 'ENTERTAINMENT' 'POLITICS' 'WEIRD NEWS' 'ENVIRONMENT'
 'EDUCATION' 'CRIME' 'SCIENCE' 'WELLNESS' 'BUSINESS' 'STYLE & BEAUTY'
 'FOOD & DRINK' 'MEDIA' 'QUEER VOICES' 'HOME & LIVING' 'WOMEN'
 'BLACK VOICES' 'TRAVEL' 'MONEY' 'RELIGION' 'LATINO VOICES' 'IMPACT'
 'WEDDINGS' 'COLLEGE' 'PARENTS' 'ARTS & CULTURE' 'STYLE' 'GREEN' 'TASTE'
 'HEALTHY LIVING' 'THE WORLDPOST' 'GOOD NEWS' 'WORLDPOST' 'FIFTY' 'ARTS'
 'DIVORCE']

In [25]:
category_counts = df['category'].value_counts().sort_values(ascending=False)
print(category_counts)

category
POLITICS          32441
WELLNESS          17943
ENTERTAINMENT     14774
STYLE & BEAUTY     9802
TRAVEL             9421
PARENTING          8790
FOOD & DRINK       6331
QUEER VOICES       5603
HEALTHY LIVING     5265
BUSINESS           5132
COMEDY             4642
SPORTS             4414
HOME & LIVING      4317
BLACK VOICES       4177
THE WORLDPOST      3664
WEDDINGS           3653
PARENTS            3556
DIVORCE            3426
WORLD NEWS         3297
WOMEN              3184
IMPACT             3086
CRIME              2832
MEDIA              2404
WEIRD NEWS         2316
TECH               2103
GREEN              2046
TASTE              1940
RELIGION           1878
SCIENCE            1803
MONEY              1755
STYLE              1567
ENVIRONMENT        1442
U.S. NEWS          1377
ARTS & CULTURE     1339
WORLDPOST          1242
CULTURE & ARTS     1063
FIFTY              1042
GOOD NEWS          1039
LATINO VOICES      1022
COLLEGE             921
EDUCATION           902
ARTS                863
Name: count, dtype: int64

In [26]:
pestel_keywords = {
    "Political": [
        "POLITICS"
        # ,"WORLD NEWS", "U.S. NEWS", "WORLDPOST", "THE WORLDPOST"
    ],
    "Economic": [
        "BUSINESS"
        # , "MONEY"
    ],
    "Social": [
        "WOMEN", "BLACK VOICES", "LATINO VOICES", "TASTE", "FOOD & DRINK",
        "COLLEGE", "FIFTY", "DIVORCE", "HOME & LIVING", "HEALTHY LIVING", "IMPACT"
        # "MEDIA", "ARTS", "CULTURE & ARTS", "ARTS & CULTURE", "STYLE & BEAUTY", "EDUCATION","PARENTING", "PARENTS", 
        # "COMEDY", "GOOD NEWS", "QUEER VOICES", "WEDDINGS", "TRAVEL", "ENTERTAINMENT", "WELLNESS"
    ],
    "Technological": [
        "TECH", "SCIENCE"
    ],
    "Environmental": [
        "ENVIRONMENT", "GREEN"
    ],
    "Legal": [
        "CRIME"
        # , "RELIGION"
    ]
}

In [27]:
# Create a reverse mapping: topic -> PESTEL label
topic_to_label = {}
for label, topics in pestel_keywords.items():
    for topic in topics:
        topic_to_label[topic.lower()] = label  # use lowercase for case-insensitive match

# Create the new column using the 'topic' column from the dataset
# Assume your dataset has a column called 'topic' with the keywords
df['PESTEL_label'] = df['category'].str.lower().map(topic_to_label)
pestel_counts = df['PESTEL_label'].value_counts()
print(pestel_counts)

PESTEL_label
Social           34711
Political        32441
Economic          5132
Technological     3906
Environmental     3488
Legal             2832
Name: count, dtype: int64

In [28]:
check_description = df[df['category'] == 'TASTE']
print(len(check_description))

print(check_description.head())

# for idx, row in check_description.iterrows():
#     print(f"\n--- short_description {idx} ---")
#     print(row['headline'])
#     print(row['short_description'])

1940
                                                    link  \
16173  https://www.huffingtonpost.com/entry/ice-water...
16242  https://www.huffingtonpost.com/entry/pineapple...
16516  https://www.huffingtonpost.com/entry/how-to-ge...
16599  https://www.huffingtonpost.com/entry/diet-coke...
16776  https://www.huffingtonpost.com/entry/sunions-t...

                                                headline category  \
16173  It's Weird That American Restaurants Serve Ice...    TASTE
16242  Pineapple Casserole, The Southern Dish That's ...    TASTE
16516        How To Actually Get A Bartender's Attention    TASTE
16599  Diet Coke's Millennial-Inspired Makeover Leave...    TASTE
16776  We Tested The New 'Tearless' Onions To See If ...    TASTE

                                       short_description           authors  \
16173  But why do we even have ice in our drinks in t...   Todd Van Luling
16242  It's got pineapple, cheddar and a whole lot of...     Kristen Aiken
16516              Plus other things they wish you knew.    Taylor Pittman
16599    It's not like a regular soda, it's a cool soda.  Abigail Williams
16776                     Put away your goggles, people.     Kristen Aiken

            date PESTEL_label
16173 2018-01-16       Social
16242 2018-01-16       Social
16516 2018-01-11       Social
16599 2018-01-10       Social
16776 2018-01-08       Social

In [29]:
# Target size per class
TARGET_SIZE = 2800 

# Downsample each class
df_balanced = (
    df[df['PESTEL_label'].notnull()]
    .groupby('PESTEL_label')
    .apply(lambda x: x.sample(min(len(x), TARGET_SIZE), random_state=42))
    .reset_index(drop=True)
)

# Check new class distribution
print(df_balanced['PESTEL_label'].value_counts())
print(df_balanced.head())

PESTEL_label
Economic         2800
Environmental    2800
Legal            2800
Political        2800
Social           2800
Technological    2800
Name: count, dtype: int64
                                                link  \
0  https://www.huffingtonpost.com/entry/mortgage-...
1  https://www.huffingtonpost.com/entry/women-in-...
2  https://www.huffingtonpost.com/entry/like-athl...
3  https://www.huffingtonpost.com/entry/donald-tr...
4  https://www.huffingtonpost.com/entry/grocery-c...

                                            headline  category  \
0  Mortgage Deal Reached In 2008 Shows Pitfalls T...  BUSINESS
1  Women in Business: Kate O'Brien Minson, Presid...  BUSINESS
2  Like Athletes, Business Owners Need to Learn F...  BUSINESS
3  Trump Could Trigger The Longest Recession Sinc...  BUSINESS
4  Grocery Chains Made A Promise To The First Lad...  BUSINESS

                                   short_description  \
0  The Obama administration, which is pushing sta...
1  Kate has lived and breathed the therapeutic ap...
2  Business owners and top executives can also "w...
3                                             Yikes.
4  An AP investigation found that major grocers o...

                                             authors       date PESTEL_label
0                                       Loren Berlin 2012-02-05     Economic
1  Laura Dunn, ContributorSocial Media and Commun... 2015-04-25     Economic
2  Mary Ellen Biery, ContributorResearch Speciali... 2015-01-19     Economic
3                                          Ben Walsh 2016-06-27     Economic
4                                 Mike Schneider, AP 2015-12-07     Economic

In [30]:
df_balanced.to_csv("data/balancednewcategory.csv", index=False)

In [ ]:
df.to_csv("data/newcategory.csv", index=False)